@page "/emptyPage"
@using ServerBee.Components.Layout
@layout EmptyLayout

<!-- This is a completely blank page -->
@* Note that this is still all within the <body> element and is wrapped by EmptyLayout.razor, Routes.razor, and App.razor in that order. *@
@* To add elements to the <head> use <HeadContent> element in the page. For more information see [Control \<head> content in ASP.NET Core Blazor apps](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/control-head-content?view=aspnetcore-9.0). *@

<p>Empty, except for this text!</p>
