@using Microsoft.AspNetCore.Identity
@using ServerBee.Data

@inject SignInManager<ApplicationUser> SignInManager

<div
    style="
        background-color: #e6fff2;
        min-height: 100vh;
        padding: 2rem;
        font-family: 'Segoe UI', sans-serif;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
    ">
    <ul class="nav nav-pills flex-column" style="width: 200px;">
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
                Profile
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/Email">
                Email
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ChangePassword">
                Password
            </NavLink>
        </li>
       
        @if (hasExternalLogins)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="Account/Manage/ExternalLogins">
                    External logins
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins =
            (await SignInManager.GetExternalAuthenticationSchemesAsync())
            .Any();
    }
}
